.about {
  position: relative;
  font-family: "Raleway";
}
.about__wrapper {
  padding: 50px 0;
  background-color: #00c4c4;
  background-image: radial-gradient(
    circle 1125px at center,
    rgba(0, 196, 196, 0.9) 0%,
    rgba(0, 183, 183, 0.9) 32%,
    rgba(0, 173, 173, 0.9) 68%,
    rgba(0, 156, 156, 0.9) 100%
  );
}
/* content */
.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.about__content__wrapper {
width: 50%;
margin: 50px 0;
}
.about__title__inner {
}
.about__title {
  padding: 5px 0;
  color: #ffffff;
  font-size: 90px;
  font-weight: 700;
}
.about__subtitle__inner {
}
.about__subtitle {
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  line-height: 2em;
}
/* img */
.about__img__wrapper {
  padding: 0;
}
.about__page__img__inner{
  width: 50%;
}
.about__page__img {
margin-left: -15%;
  padding-right: 15%;
}
