.contact {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Raleway";
}
.contact__wrapper {
}
.contact__inner {
  margin: 30px 0;
  padding: 20px 0;
}
/* content */
.contact__content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  text-align: center;
  color: #262626;
}
.contact__title__inner {
  padding: 20px 0;
}
.contact__title {
  font-size: 90px;
  font-weight: 700;
}
.contact__subtitle__inner {
  width: 30%;
}
.contact__subtitle {
  font-size: 17px;
  font-weight: 300;
}
/* submit */
.contact__submit__wrapper {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.contact__submit__inner {
  width: 40%;
}
/* form */
.contact__submit__form {
  color: #ffffff;
}
/* text name address number */
.contact__submit__form__name__wrapper {
}
.contact__submit__form__name {
}

.contact__submit__form__text__wrapper {
  margin-bottom: 10px;
}
.contact__submit__form__text {
  border: 0;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 100%;
  height: 50px;
  background-color: #00c4c4;
  opacity: 0.5;
}
 /* ::placeholder .contact__submit__form__text {
  color: #ffffff;
} */

/* comment */
.contact__submit__form__comment__wrapper {
}
.contact__submit__form__comment {
  width: 100%;
  height: 250px;
  resize: none;
}
/* submit btn */
.contact__submit__form__btn__wrapper {
  margin-top: 20px;
 
}
.contact__submit__form__btn {
  width: 170px;
  height: 50px;
  border: 0;
  text-transform: uppercase;
  color:#ffffff;
  box-shadow: 0 20px 30px rgba(52, 119, 172, 0.3);
  background-color: #3477ac;
}
/* contact list */
.contact__my__list__inner {
  width: 40%;
  color: #262626;
}
.contact__my__list__title__wrapper {
}
.contact__my__list__title {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
}
.contact__my__list__subtitle__wrapper {
  padding-bottom: 15px;
}
.contact__my__list__subtitle {
  font-weight: 300;
}

/* img */
.contact__img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 866px;
  margin: auto;
  background-image: url("file:///home/ronin/Documents/dev/maket/img/body/sun.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
