.footer {
  position: relative;
  background-color: #262626;
}
.footer__wrapper {
  margin: 5px 0;
  padding: 30px 0;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* year */
.footer__year__wrapper {
  font-family: "Raleway";
  font-size: 16px;
}
.footer__year {
  color: #b9b9b9;
  font-weight: 300;
}
/* logo */
.footer__logo__wrapper {
  font-family: "Pacifico";
}
.footer__logo {
  color: #b9b9b9;
  font-size: 25px;
  font-weight: 400;
}
/* made */
.footer__made__wrapper {
  font-family: "Raleway";
  font-size: 15px;
}
.footer__made {
  color: #b9b9b9;
  font-weight: 300;
}
.footer__made__word {
  color: #ff2b58;
  font-weight: 700;
}
