.gallery {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  font-family: "Raleway";
}
.gallery__wrapper {
  padding: 60px 0;
  background-color: #ffe92f;
}
.gallery__inner {
}
/* contetn */
.gallery__content__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #262626;
}
.gallery__title__inner {
  margin: 5px 0;
  padding: 20px 0;
}
.gallery__title {
  font-size: 90px;
  font-weight: 700;
}
.gallery__subtitle__inner {
  width: 52%;
  margin: 5px 0;
  padding: 20px 0;
}
.contact__subtitle {
  font-size: 17px;
  font-weight: 300;
}
/* img */
.gallery__img__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.gallery__img__one__section__box__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery__img__two__section__box__wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.gallery__img__three__section__box__wrapper {
  display:flex;
  justify-content: space-between;
  flex-direction: row;
flex-wrap: wrap;
}
.gallery__img__first__inner {
  width: 60%;
  margin:0 5px;
}
.gallery__img__first {
}
.gallery__img__second__inner {
  width:30%;
  margin:0 5px;
}
.gallery__img__second {
}
.gallery__img__third__inner {
  width:30%;
  margin: 5px;
}
.gallery__img__third {
}
.gallery__img__fourth__inner {
  width: 48%;
  margin:  5px;
}
.gallery__img__fourth {
}
.gallery__img__fifth__inner {
  width: 48%;
  margin: 0 5px;
}
.gallery__img__fifth {
}
/* btn */
.gallery__btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.gallery__btn {
  border: 0;
  padding: 20px 43px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #5585a2;
}
.gallery__btn__text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
