/* header */
.header {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.header__wrapper {
  max-width: 100%;
  padding: 30px 10px;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* logo */
.header__logo__wrapper {
  padding-right: 0;
}


.header__logo__title {
  width: 15%;
  height: 10%;
  color: #262626;
  font-family: "Pacifico";
  font-size: 50px;
  font-weight: 400;
  line-height: 25px;
}

/* menu */
.header__menu__list__wrapper {
  padding: 0;
}

.header__menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;
}
.header__menu__list__item {
margin: 10px ; 
}
.header__menu__list__item__btn {
  padding: 10px;
margin-left:5px  ;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  font-family: "Raleway";
  text-transform: uppercase;
}

/* .header__menu__list__item__btn .active:hover{
  border-top: 3px solid #ff6033;

}  */

/* img */
/* .home__page__content__img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #f9f9fb;
  background-image: url("file:///home/ronin/Documents/dev/maket/img/header/strawberry.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 1;
} */