.home {
  position: relative;
  background-color:#f9f8fb ;
  font-family: "Raleway";
  z-index: 3;
}

/* content */
.home__wrapper {
margin-bottom: -5px;

}
.home__inner{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

}
.home__content__wrapper {
  padding: 300px 0;
  margin: 75px 0;
  width: 375px;
}
.home__title__inner {
  padding-bottom: 20px;
}
.home__title {
  color: #262626;
  font-family: "Raleway";
  font-size: 60px;
  font-weight: 400;
}
.home__subtitle__inner {
  padding: 25px 0;
}
.home__subtitle {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
  /* line-height: 27px; */
}
/* btn */
.home__btn__inner {
}
.home__btn {
  border: 0;
  padding:15px 20px;
  box-shadow: 0 20px 30px rgba(255, 96, 51, 0.3);
  background-color: #ff6033;
  font-size: 20px;
  font-weight: 300;
  /* line-height: 27px; */
}
.home__btn__text {
  padding: 0  10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* .home__scroll {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
} */
/* img */
.home__page__img {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto ;
  margin-bottom: -15px;
  background-image: url("file:///home/ronin/Documents/dev/maket/img/header/strawberry.png");
  background-repeat: no-repeat;
  background-position: top;
} 
/* .home__page__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto ;
  background-color:#f9f8fb ;
  background-image: url("file:///home/ronin/Documents/dev/maket/img/header/strawberry.png");
  background-position: top;
  background-repeat: no-repeat;
   background-size: 80vw 100%; 
  z-index: 1;
}  */