.services {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  font-family: "Raleway";
}
.services__wrapper {
  padding: 150px 0;
  background-color: #70bfff;
}
.services__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
/* menu list */
.services__menu__wrapper {
width: 35%;
}
.services__menu {
  margin: 5px;
  padding: 5px;
}
.services__menu__list {
  /* margin:10px; */
}
.services__menu__list__btn__wrapper {
}
.services__menu__list__btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 10px;
  border: 0;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
.services__menu__list__btn__text__inner {
  width: 70%;
}
.services__menu__list__btn__text {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  padding: 5px 0;
  color: #262626;
  font-size: 20px;
  font-weight: 700;
}
.services__menu__list__img__inner {
  border-left: 1px solid #000000;
  width: 30%;
  padding: 8%;
}
.services__menu__list__img {
}
/* content */
.services__content__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.services__title__inner {
  position: absolute;
  z-index: 2;
}
.services__title {
  color: #ffffff;
  font-size: 90px;
  font-weight: 700;
}
/* img */
.services__img__inner {
  position: relative;
  z-index: 1;
}
.service__img {
}
