.subscribe {
  position: relative;
  font-family: "Raleway";
}
.subscribe__wrapper {
}
.subscribe__inner {
}
/* content */
.subscribe__content__wrapper {
  margin: 85px 0;
  padding: 60px 0;
  color: #262626;
}
.subscribe__title__inner {
}
.subscribe__title {
  font-size: 40px;
  font-weight: 700;
}
.subscribe__subtitle__inner {
  width: 50%;
  padding: 20px 0;
}
.subscribe__subtitle {
  font-size: 17px;
  font-weight: 300;
}
/* input  */
.subscribe__input__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
.subscribe__input__inner {
  margin-right: 30px;
  border: 1px solid #262626;
}
.subscribe__input {
    box-sizing: border-box;
    padding: 10px 15px;
    height: 60px;
    width: 570px;
}
/* btn */
.subscribe__btn__inner {
}
.subscribe__btn {
  border: 0;
  padding: 20px 43px;
  box-shadow: 0 20px 30px rgba(150, 185, 44, 0.3);
  background-color: #96b92c;
}
.subscribe__btn__text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
/* img */
.subscribe__img__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: -5px;
  background-image: url("file:///home/ronin/Documents/dev/maket/img/body/blackberry2.png");
  background-repeat: no-repeat;
  background-position: top;
}
